title,source,doi,status,error_message
Naturalization documents: Yoshio Hattori,http://hdl.handle.net/10613/1955,https://doi.org/10.83129/car2-qq43,201,
Naturalization documents: Tekutaro Uyene,http://hdl.handle.net/10613/1957,https://doi.org/10.83129/8br7-jx41,201,
Naturalization documents: Renichi Nagao,,,422,Can't be blank
Naturalization documents: K. Kitamura,http://hdl.handle.net/10613/1954,https://doi.org/10.83129/e18b-pz04,201,
Naturalization documents: Shigekuni Sekihama,http://hdl.handle.net/10613/1956,https://doi.org/10.83129/jker-tx66,201,
