id,collection,dc.contributor.other[en],dc.date.accessioned[],dc.date.available[],dc.date.issued[],dc.description.abstract[en],dc.description.fulltext[en],dc.description.provenance[en],dc.digitization.details[en],dc.format.extent[en],dc.format.medium[en],dc.format.mimetype[en],dc.identifier.uri[en],dc.identifier.uri[],dc.language.iso[en],dc.publisher[en],dc.subject.lcsh[en],dc.title[en],dc.type[en]
4d24f4c9-f654-4c17-a1df-6043112c6f9c,10613/1953,"Hattori, Yoshio||Combe, Harvey",2014-08-06T16:24:02Z,2014-08-06T16:24:02Z,1914-05-08,"Certificate, application, and oath of naturalization for Yoshio Hattori formally of Shizuokahen, Japan but now residing at Victoria. Certified by Harvey Combe.",https://viuspace.viu.ca/bitstream/handle/10613/1955/Hattori.pdf?sequence=3,"Submitted by Sarah  Ogden  (sarah.ogden@viu.ca) on 2014-08-06T16:24:02Z
No. of bitstreams: 1
Hattori.pdf: 2695847 bytes, checksum: 6ae2b7fab540fd3cf9918665cfd85e9d (MD5)||Made available in DSpace on 2014-08-06T16:24:02Z (GMT). No. of bitstreams: 1
Hattori.pdf: 2695847 bytes, checksum: 6ae2b7fab540fd3cf9918665cfd85e9d (MD5)
  Previous issue date: 1914-05-08",300 dpi; 24 bit colour; pdf,2.7 mb,Colour pdf,application/pdf,http://hdl.handle.net/10613/1955||https://doi.org/10.83129/wsc3-dk31,,en,Electronic version published by Vancouver Island University,Immigration,Naturalization documents: Yoshio Hattori,Archival Material
5dfa2b1e-0a3f-4093-9c2e-402d31953a56,10613/1953,"Uyene, Tekutaro||Combe, Harvey",2014-08-06T16:33:56Z,2014-08-06T16:33:56Z,1914-03-09,Certificate and oath of naturalization for Tekutaro Uyene formally of Japan but now residing at Rivers Inlet. Certified by Harvey Combe.,https://viuspace.viu.ca/bitstream/handle/10613/1957/Uyeno.pdf?sequence=3,"Submitted by Sarah  Ogden  (sarah.ogden@viu.ca) on 2014-08-06T16:33:56Z
No. of bitstreams: 1
Uyeno.pdf: 2089984 bytes, checksum: ea41375c19db8831c2ba9e9d7b7476bf (MD5)||Made available in DSpace on 2014-08-06T16:33:56Z (GMT). No. of bitstreams: 1
Uyeno.pdf: 2089984 bytes, checksum: ea41375c19db8831c2ba9e9d7b7476bf (MD5)
  Previous issue date: 1914-03-09",300 dpi; 24 bit colour; pdf,2.1 mb,Colour pdf,application/pdf,,http://hdl.handle.net/10613/1957||https://doi.org/10.83129/r5q9-p249,en,Electronic version published by Vancouver Island University,Immigration,Naturalization documents: Tekutaro Uyene,Archival Material
91aea98a-b117-4bc7-a36d-05a9cdcf207c,10613/1953,"Nagao, Renichi||Combe, Harvey",2014-08-06T16:37:38Z,2014-08-06T16:37:38Z,1915-04-19,"Certificate, application, and oath of naturalization for Renichi Nagao formally of Kobi, Japan but now residing at Victoria. Certified by Harvey Combe.",https://viuspace.viu.ca/bitstream/handle/10613/1958/Nagao.pdf?sequence=3,"Submitted by Sarah  Ogden  (sarah.ogden@viu.ca) on 2014-08-06T16:37:38Z
No. of bitstreams: 1
Nagao.pdf: 2531602 bytes, checksum: 1bee93515de68fc585cf6affb595c8d6 (MD5)||Made available in DSpace on 2014-08-06T16:37:38Z (GMT). No. of bitstreams: 1
Nagao.pdf: 2531602 bytes, checksum: 1bee93515de68fc585cf6affb595c8d6 (MD5)
  Previous issue date: 1915-04-19",300 dpi; 24 bit colour; pdf,2.5 mb,Colour pdf,application/pdf,https://viurrspace.ca/handle/10613/19464||http://dx.doi.org/10.25316/IR-11675,,en,Electronic version published by Vancouver Island University,Immigration,Naturalization documents: Renichi Nagao,Archival Material
e591549f-3f86-45e7-8413-18bde9992639,10613/1953,"Kitamura, K.||Combe, Harvey.",2014-08-06T16:11:32Z,2014-08-06T16:11:32Z,1914-04-20,Certificate and oath of naturalization for K. Kitamura formally of Japan but now residing at Rivers Inlet. Certified by Harvey Combe.,https://viuspace.viu.ca/bitstream/handle/10613/1954/Kitamura.pdf?sequence=3,"Submitted by Sarah  Ogden  (sarah.ogden@viu.ca) on 2014-08-06T16:11:32Z
No. of bitstreams: 1
Kitamura.pdf: 2161941 bytes, checksum: 95c01818d6bca90aa9d63a8a5f50315e (MD5)||Made available in DSpace on 2014-08-06T16:11:32Z (GMT). No. of bitstreams: 1
Kitamura.pdf: 2161941 bytes, checksum: 95c01818d6bca90aa9d63a8a5f50315e (MD5)
  Previous issue date: 1914-04-20",300 dpi; 24 bit colour; pdf,2 mb,Colour pdf,application/pdf,,http://hdl.handle.net/10613/1954||https://doi.org/10.83129/vmgc-6n24,en,Electronic version published by Vancouver Island University,Immigration,Naturalization documents: K. Kitamura,Archival Material
e75c8163-ff95-416b-82fb-f8ef657d83e9,10613/1953,"Sekihama, Shigekuni||Combe, Harvey.",2014-08-06T16:28:51Z,2014-08-06T16:28:51Z,1915-04-19,"Certificate, application, and oath of naturalization for Shigekuni Sekihama formally of Kobi, Japan but now residing at Victoria. Certified by Harvey Combe.",https://viuspace.viu.ca/bitstream/handle/10613/1956/Sekihama.pdf?sequence=3,"Submitted by Sarah  Ogden  (sarah.ogden@viu.ca) on 2014-08-06T16:28:51Z
No. of bitstreams: 1
Sekihama.pdf: 2605762 bytes, checksum: 24e312dcff8d49948be64fea6c27ab43 (MD5)||Made available in DSpace on 2014-08-06T16:28:51Z (GMT). No. of bitstreams: 1
Sekihama.pdf: 2605762 bytes, checksum: 24e312dcff8d49948be64fea6c27ab43 (MD5)
  Previous issue date: 1915-04-19",300 dpi; 24 bit colour; pdf,2.6 mb,Colour pdf,application/pdf,,http://hdl.handle.net/10613/1956||https://doi.org/10.83129/yqwx-qz03,en,Electronic version published by Vancouver Island University,Immigration,Naturalization documents: Shigekuni Sekihama,Archival Material
